<ng-include src="'nav.html'"></ng-include>

    <section ng-controller="payrollController" class="app-main">

        <section class="app-main-summary">

            <section class="col-sm-12">
                <div class="row padding-lg app-content-header app-bg-white border-bottom-light">
                    <div class="col-sm-6">
                        <h2>Payroll Cycles</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#/payrolladd" class="pull-right btn btn-primary btn-lg strong">Add New Pay Cycle</a>
                    </div>
                </div>

                <div ng-show="payrollExist" class="padding-lg">
                    <table class="table table-responsive table-hover app-table-hd">
                        <thead class="h4">
                        <tr>
                            <th class="text-center"><i class="fa fa-circle" title="Status"></i></th>
                            <th>Name</th>
                            <th class="text-right">Staff</th>
                            <th class="text-right">Salary Payments</th>
                            <th class="text-right">PAYE</th>
                            <th class="text-right">NHIF</th>
                            <th class="text-right">NSSF</th>
                            <th class="text-right">Other</th>
                            <th class="text-right">Total</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="p in itemsInTable">
                            <td ng-show="inProgress(p)">&nbsp;&nbsp;&nbsp;<i class="fa fa-circle" title="Status"></i></td>
                            <td ng-show="!inProgress(p)"></td>
                            <td>
                                <span>
                                    <a href="#/payroll/view/{{p._id}}">{{p.Name}}</a>
                                </span>
                            </td>
                            <td class="text-right"><span>{{p.EmployeeIDs.length}}</span></td>
                            <td class="text-right"><span>{{p.Tax.totalTax}}</span></td>
                            <td class="text-right"><span>{{p.Tax.totalPAYE}}</span></td>
                            <td class="text-right"><span>{{p.Tax.totalNHIF}}</span></td>
                            <td class="text-right"><span>{{p.Tax.totalNSSF}}</span></td>
                            <td class="text-right"><span></span></td>
                            <td class="text-right"><span>{{p.TotalPayment}}</span></td>
                            <td class="text-center"><a href=""><i class="fa fa-caret-down"></i></a></td>
                        </tr>

                        </tbody>


                    </table>
                </div>
                <div ng-show="!payrollExist" class="padding-lg">
                    <h3>No Payroll Cycles have been added yet. </h3>
                </div>
            </section>
        </section>

    </section>

    <!-- TODO: Template: Summary Bar -->
    <section class="app-side app-border-left-light">

<div class="header padding-md">
            <div class="col-sm-12">
                <h3 class="padding-bottom-lg">Pay Cycles Summary</h3>
                <table class="table table-responsive app-table-hd">
                    <tbody>
                    <tr class="bg-none">
                        <td><h4>Cycles</h4></td>
                        <td class="text-right"><h4>3</h4></td>
                    </tr>
                    <tr class="bg-none">
                        <td><h5>In progress</h5></td>
                        <td class="text-right"><h5>1</h5></td>
                    </tr>
                    <tr class="bg-none">
                        <td><h5>Completed</h5></td>
                        <td class="text-right"><h5>2</h5></td>
                    </tr>


                    <tr class="bg-none">
                        <td colspan="2" class="padding-lg">&nbsp;</td>
                    </tr>

                    <tr class="bg-none">
                        <td><h4>Cycles in progress</h4></td>
                        <td class="text-right"><h4>200,000</h4></td>
                    </tr>
                    <tr class="bg-none">
                        <td><h5>Salary payments</h5></td>
                        <td class="text-right"><h5>200,000</h5></td>
                    </tr>
                    <tr class="bg-none">
                        <td><h5>PAYE</h5></td>
                        <td class="text-right"><h5>200,000</h5></td>
                    </tr>
                    <tr class="bg-none">
                        <td><h5>NHIF</h5></td>
                        <td class="text-right"><h5>200,000</h5></td>
                    </tr>
                    <tr class="bg-none">
                        <td><h5>NSSF</h5></td>
                        <td class="text-right"><h5>200,000</h5></td>
                    </tr>

					

                    <tr class="bg-none">
                        <td colspan="2" class="padding-lg">&nbsp;</td>
                    </tr>


                    <tr class="bg-none">
                        <td colspan="2" class="padding-lg">&nbsp;</td>
                    </tr>
                    <tr class="bg-none">
                        <td><h3 class="">Total Outstanding Payroll:</h3></td>
                        <td class="text-right"><h3>{{totalPayroll}}</h3></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </section>


