<!DOCTYPE html>
<html>
<head>
    <title>Payroll</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.min.css" />
    <link rel="stylesheet" href="../assets/css/app.min.css" />
</head>
<body>
<div class="container-fluid app-page">


    <!-- TODO: Template: Navigation Bar -->
    <section class="app-navigation app-bg-primary-dark text-center">
        <ul class="app-nav-icons list-unstyled">
            <li class="margin-bottom-xl">
                <a href="index.html" class="" data-toggle="tooltip" data-placement="right" title="<h3>Summary</h3>" data-html="true">
                    <i class="material-icons profile">supervisor_account</i>
                    <h5 class="no-pad">9+</h5>
                </a>
            </li>
            <li class="hidden selected">
                <a href="agenda.html" class="" data-toggle="tooltip" data-placement="right" title="<h3>Agenda</h3>" data-html="true"><i class="material-icons">today</i></a>
            </li>
            <li class="">
                <a href="payroll.html" class="" data-toggle="tooltip" data-placement="right" title="<h3>Payroll</h3>" data-html="true"><i class="material-icons">label_outline</i></a>
            </li>
            <li class="">
                <a href="staff.html" class="" data-toggle="tooltip" data-placement="right" title="<h3>Staff</h3>" data-html="true"><i class="material-icons">person</i></a>
            </li>
            <li class="menu-logout">
                <a href="../public/log-in.html" class="" data-toggle="tooltip" data-placement="right"
                   title="<h3>Logout</h3>" data-html="true"><i class="material-icons">power_settings_new</i></a>
            </li>
        </ul>
    </section>


    <section class="app-main">



    </section>

    <!-- TODO: Template: Activity Bar -->
    <section class="app-side app-border-left-light">

        <div class="header padding-md">
            <h3 class="no-pad">Activity</h3>
        </div>

    </section>


</div>


<script src="../assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>